.container {
    max-width: 100%;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    color: white;
}
.container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
    transition: opacity 300ms ease-in-out;
}
.image {
    width: 20%;
    height: 20%;
    object-fit: contain;


}